<div class="d-flex justify-content-center justify-content-lg-center" id="foot_container">

    <div class="m-2 foot_card-1 mt-3">
        <div class="d-flex flex-column text-wrap" id="foot_card_1">
            <h3>Subscribe Our Newsletter For More Update</h3>
        </div>
        <div class="d-flex flex-column bd-highlight">
            <p class="font_head">We Are Consulting For Your Business Finances We Are Consulting For Your Business
                Finances We Are Consulting.</p>
        </div>

    </div>
    <div class="mt-4 foot_card-2 m-2">
        <div class="form-group col-md-6" style="width: 100%;">

            <input type="email" class="form-control" id="inputEmail4" placeholder="Enter Your Email">
        </div>
        <button type="button" class="btn btn-primary mt-2 p-2">Subscribe</button>

    </div>

</div>

<br>