<div class="container-fluid bg-primary contain">
    <div class="container">
        <div class="d-flex justify-content-space-around justify-content-lg-center" id="home_container">
            <div class="m-2 cards-1">
                <img src="./assets/wall-clock.png"><span>,,</span> <a href="">We are open 24/7</a>
                <span id="img-4">|</span>

                <img id="img-5" src="./assets/mail.png"> <a href="">mail.gmail.com</a>



            </div>

            <div class="m-2" id="card-1">
                <img id="img_1" src="./assets/fb.png" alt="">

                <img id="img_1" src="./assets/insta.png" alt="">

                <img id="img_1" src="./assets/linkedin.png" alt="">

            </div>
        </div>
    </div>
</div>

<app-navbar></app-navbar>

<app-homepage></app-homepage>

<app-service></app-service>

<app-footer></app-footer>